<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eda397_group7.chalmers.se.eda397_2016_group7">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="ase" android:host="oauthresponse"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseRoleActivity"
            android:label="@string/title_activity_choose_role"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DisplaycardActivity"
            android:label="@string/title_activity_displaycard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DisplayResultsActivity"
            android:label="@string/title_activity_display_results"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".SelectProjectActivity"
            android:label="@string/title_activity_select_project"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".DisplayProjectCardsActivity"
            android:label="@string/title_activity_display_project_cards"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".SelectProjectActivity"/>
    </application>

</manifest>
